<h1>Editing cliente cagece</h1>

<%= render "form", cliente_cagece: @cliente_cagece %>

<br>

<div>
  <%= link_to "Show this cliente cagece", @cliente_cagece %> |
  <%= link_to "Back to cliente cageces", cliente_cageces_path %>
</div>
