<div id="<%= dom_id carro %>">
  <p>
    <strong>Placa:</strong>
    <%= carro.placa %>
  </p>

  <p>
    <strong>Renavan:</strong>
    <%= carro.renavan %>
  </p>

  <p>
    <strong>Chassi:</strong>
    <%= carro.chassi %>
  </p>

</div>
