<h1>Editing cliente enel</h1>

<%= render "form", cliente_enel: @cliente_enel %>

<br>

<div>
  <%= link_to "Show this cliente enel", @cliente_enel %> |
  <%= link_to "Back to cliente enels", cliente_enels_path %>
</div>
